<div class="login-form">
  <p>login works!</p>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="username">Surname</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="username">Email</label>
      <input type="text" class="form-control">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" class="form-control">
    </div>
  </form>
  <div><p>Se hai già effettutato la prima login premi qui di seguito</p></div>
</div>
